# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Miscellaneous
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker related
docker-compose.override.yml
*.log
data/
tmp/
